.Input{
    display: block;
    width:100%;

    box-sizing: border-box;
}
.Label{
  font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.InputElement{
    margin-bottom:8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding:10px 15px;
    outline:none;
    border: 1px solid #777777;
    box-sizing: border-box;
    width:100%;
}
.InputElement:focus{
    outline: none;
    background-color: #cccccc;
}
.Invalid{
    border-color:red;
    background-color: salmon;
}